/* archivo contiene las cuestiones especificas del sitio o pagina */

body {
  background: #123;
  color: #333;
  font-size: 1em;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #brown;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

h5 {
	padding:0px 0px 0px 0px;
	text-align: left;
}

p {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.container {
  background-color: #ddd;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container {
  background-image: url('../demo-files/12_col.png');
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.container {
		background-image: url('../demo-files/12_col_768.png');
	}
}

@media only screen and (max-width: 767px) {
	.container {
		background: #6afd7f;
	}
}

@media only screen and (max-width: 479px) {
	.container.demo {
		background: #e16bfe;
	}
}

table {
	padding:0px 0px 0px 0px;
}


table th {
	padding:0px 0px 0px 0px;
	font-weight:black;
}
table tr {
	text-align: left;
	padding:0px 0px 0px 0px;
	border: 1px solid #aaa; 
}
table td {
	background:#fff;
	border: 1px solid #aa0; 
	padding: 0px;
}
