/* Title: "Estilos para sitio verger" */
/* @colores ( aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple, red, silver, teal, white, and yellow. )

A { COLOR: navy; font-weight: bold }
A:visited {	COLOR: purple; font-weight: bold }
A:active {	COLOR: olive; font-weight: bold }
A:hover {	COLOR: maroon; font-weight: bold }

:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #330033; font-weight: bold;
}
:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #0f0;
}
:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}

*/

A.pageindex {	
	font-weight: normal; 
	font-size: 9pt; 
	color: brown; 
	font-style: normal; 
	font-family: verdana, helvetica, arial, sans-serif;
	text-align: left; 
	background: #c0f0c0;
}
A.pageindex:visited {	COLOR: red; }
A.pageindex:active	{	COLOR: navy; }
A.pageindex:hover	{	COLOR: darkred; font-weight: bold }

A.tableindex {	
	font-weight: normal; 
	font-size: 9pt; 
	color: black; 
	font-style: normal; 
	font-family: verdana, helvetica, arial, sans-serif;
	text-align: left; 
	text-decoration: none;
}
A.tableindex:visited {	COLOR: #100000; }
A.tableindex:active	{	COLOR: navy; }
A.tableindex:hover	{	COLOR: darkred; font-weight: bold }


.over:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
.over {
	TEXT-DECORATION: none; font-weight: bold;
}

.under:hover {
	color: green; TEXT-DECORATION: none
}

.vi {
	COLOR: gray;
}

LI {
	font-weight: normal; font-size: 10pt; color: #000000; 
	font-style: normal; 
	font-family: verdana,arial,helvetica, sans-serif; 
	text-decoration: none
}
UL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; 
	font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none;
}
OL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; 
	font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none;
}


.defl {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #330000; FONT-STYLE: normal; 
	width: 100%; 
	font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none;
}

.deft {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333300; FONT-STYLE: normal;
	font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none;
}
dd {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; 
	font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none;
}



H1 { 
  font-weight: bold; font-size: 18pt; 
  color: #fff; font-style: normal; 
  font-family: verdana,arial,helvetica, sans-serif; 
  background-color: darkgreen; 
  width: 100%; 
  padding-top: 10px; padding-bottom: 10px; padding-right: 10px; padding-left: 10px; 
  height: auto; 
  text-decoration: none;
  text-align: center;
  }

H2 { 
  background-color: #cfc; 
  color: #000000; 
  font-family: verdana,arial,helvetica, sans-serif; 
  font-size: 16pt; 
  font-style: normal; 
  font-weight: bold; 
  height: auto; 
  padding-bottom: 06px; 
  padding-left: 08px; 
  padding-right: 08px; 
  padding-top: 06px; 
  text-decoration: none;
  width: 100%; 
}
H3 { 
  background-color: #cfc; 
  border-bottom: #080 1pt solid; 
  border-left: #8f8 1pt solid;
  border-right: #080 1pt solid;
  border-top: #8f8 1pt solid; 
  color: #000000; 
  font-family: verdana,arial,helvetica, sans-serif; 
  font-size: 14pt; 
  font-style: normal; 
  font-weight: bold; 
  height: auto; 
  padding-bottom: 04px; 
  padding-left: 06px; 
  padding-right: 06px; 
  padding-top: 04px; 
  text-decoration: none;
  width: 98%; 

}
H4 { 
  FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; 
  background-color: #cfc; 
  padding: 02px; 
  font-family: verdana,arial,helvetica, sans-serif; TEXT-DECORATION: none}

H5 { 
	background-color: #eee; 
	font-weight: bold; font-size: 10pt; COLOR: #000000; font-style: normal; 
	font-family: verdana,arial,helvetica, sans-serif; 
	padding: 0px; 
}
H6 { font-weight: bold; font-size: 09pt; COLOR: #000000; font-style: normal; 
  font-family: verdana,arial,helvetica, sans-serif; 
  background-color: #fff; 
  height: 1em; 
  padding-bottom: 01pX; 
  padding-left: 01px; 
  padding-right: 01px; 
  padding-top: 01px; 
  }

img {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
}

.opciones {  font-family: verdana,arial,helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003300; text-transform: none; background-color: #CCFFCC}

@meta {  Estilos para parrafos }
P {	
  color: #000000; 
  font-family: verdana,arial,helvetica, sans-serif; 
  font-size: 10pt; 
  font-style: normal; 
  font-weight: normal; 
  text-decoration: none;
}

.pregunta {	
	font-weight: bold; 
	font-size: 8pt; 
	color: #080; 
	line-height: normal; 
	font-style: normal; 
	font-family: verdana, helvetica, arial, sans-serif;
	text-decoration: none; 
	text-align: justify; 
}

.respuesta {	
	font-weight: normal; 
	font-size: 9pt; 
	color: black; 
	font-style: normal; 
	font-family: verdana, helvetica, arial, sans-serif;
	text-decoration: none; 
	text-align: justify; 
	padding-top: 0.1em; padding-right: 1em; padding-bottom: 1em; padding-left: 1em;
}

blockquote {
	font-weight: normal; font-size: 10pt; color: #000000; font-style: normal; 
	font-family: verdana,arial,helvetica, sans-serif; text-decoration: none;
}
pre { 
	font-weight: normal; font-size: 9pt; color: #660000; line-height: 12pt; font-style: normal; font-family: courier,'courier new', monospace; text-decoration: none }

code { font-weight: normal; font-size: 9pt; color: #660000; line-height: 12pt; font-style: normal; font-family: courier, 'courier new', monospace; text-decoration: none }

.quote {
	font-weight: normal; font-size: 11pt; color: #660000; line-height: 12pt; font-style: normal; font-family: verdana, helvetica, arial, sans-serif; text-decoration: none
}
.desc {
	font-size: 11pt; color: #000000; line-height: 12pt; 
	font-family: verdana,arial,helvetica, sans-serif; text-decoration: none;
}
.footer {	font-size: 08pt; line-height: 9pt; }
.banner { font-size: 18pt; font-weight: bold; margin-top: 01px; margin-bottom: 01px; text-align: center; color: green;  }
.title {
	font-weight: normal; font-size: 13pt; color: #000000; line-height: 12pt; font-style: normal; 
	font-family: verdana,arial,helvetica, sans-serif; text-decoration: none;
}
.titulo {	font-weight: bold; FONT-SIZE: 16pt; LINE-HEIGHT: 20pt; COLOR: #000000;  }
.subtitulo { font-weight: bold; FONT-SIZE: 12pt; LINE-HEIGHT: 14pt; COLOR: #000000;  }
.subsubtitulo {	font-weight: bold; font-size: 10pt; color: #040; 
	line-height: normal; 
	font-style: normal; 
	font-family: verdana, helvetica, arial, sans-serif;
	text-decoration: none; 
	text-align: justify; 
}
.fondogris { background: #CCCCCC; padding: 4px; }
.rojo { color: #FF0000 }
.aviso { color: red; background: yellow; font-weight: bold; }

TD {
	vertical-align: top	; 
}

TH {
	vertical-align: top	; 
}
tr.menu {
	font-size: small;
}
tr.libre {
	font-size: small;
	background-color: #aaa;
}

.CeldaTitulo {
	font-size: x-small;
	border-top-width: 1px; border-right: #ffffff 1px solid; border-left-width: 1px;
    border-left-color: #ffffff; border-bottom-width: 1px; border-bottom-color: #ffffff;
    border-top-color: #ffffff; 
	color: #000; 
	background: #fff;
}

.Celdamenu {
	font-size: small;
	border-top-width: 1px; border-right: #ffffff 2px solid; border-left-width: 2px;
    border-left-color: #ffffff; border-bottom-width: 2px; border-bottom-color: #ffffff;
    border-top-color: #ffffff; 
	color: #000000; 
	background: #c0f0c0;
}
.FondoClaro {	background: #FFFFCC; padding: 10px; }

body {
	background: white fixed no-repeat left top; 
	margin: 0em 10px 0px 10px; 
	color: black;
	font-family: verdana,arial,helvetica, sans-serif;
	font-size: 10pt; 
	color: #000;
}

.destacado {
	font-size: 9pt; 
	font-weight: bolder;
	color: #990000; 
	background: #fdd;
}

table.ex1 {border: 0px solid cyan; }
TD.ex1    { border: 0px solid red; padding: 1em; }
TD.solid-blue  { border: 5px dashed blue; }
table.solid-green { border: 5px solid green; }

table.lista1 {
	font-family: verdana,arial,helvetica, sans-serif;
	font-size:09pt;
	background:#baefd5;
	margin:20px;
	align:center;
}
table th {
	padding:1px 5px 2px 5px;
	font-weight:black;
}
table tr {
	text-align: left;
	padding-left:2px;
	border: 10px solid #aaa; 
}
table td {
	background:#fff;
	border: 0px; padding: 1px;
}


/*
table.lista1 {border: 03px solid #145635; cellspacing: 0; cellpadding: 3; width="90%"; bgColor: #baefd5; align: center }
td.lista1 { border: 0px solid red; padding: 1em; }
*/
